################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sources/.vs
/.vs
/BD2_demaOkien.db/bin/Debug
/BD2_demaOkien.db/obj/Debug
/sources/BD2_demaOkien.db/obj/Debug/TempPE
/sources/MasterDetailGrid/bin
/sources/MasterDetailGrid/obj
/sources/BD2_demaOkien.BizzLayer/bin
/sources/BD2_demaOkien.BizzLayer/obj
/sources/BD2_demaOkien.Data/bin
/sources/BD2_demaOkien.Data/obj
/BD2_demaOkien.db/bin/sources
/sources/BD2_demaOkien.db/obj
/analiza/TEMAT.jpg
/analiza/BD_09.jpg
/analiza/BD_08.jpg
/analiza/BD_07.jpg
/analiza/BD_06.jpg
/analiza/BD_05.jpg
/analiza/BD_04.jpg
/analiza/BD_03.jpg
/analiza/BD_02.jpg
/analiza/BD_01.jpg
/projekt/wizyta.jpg
/projekt/reg_pac.jpg
/projekt/lab.jpg
/projekt/dok_pac.jpg
/projekt/badanie_lab.jpg
/projekt/admin.jpg
/obj
/packages
/sources/packages
/sources/BD2_demaOkien/obj/Debug
/sources/BD2_demaOkien/obj/Release
