################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sources/.vs
/sources/BD2_demaOkien/bin
/sources/BD2_demaOkien/obj
/sources/MasterDetailGrid/bin
/sources/MasterDetailGrid/obj
/sources/BD2_demaOkien.BizzLayer/bin
/sources/BD2_demaOkien.BizzLayer/obj
/sources/BD2_demaOkien.Data/bin
/sources/BD2_demaOkien.Data/obj
/sources/BD2_demaOkien.db/bin
/sources/BD2_demaOkien.db/obj
/sources/MasterDetailGrid/obj
/sources/packages/EntityFramework.6.1.3

/BD2_demaOkien/obj
/BD2_demaOkien/bin
/BD2_demaOkien.BizzLayer/obj
/BD2_demaOkien.BizzLayer/bin
/MasterDetailGrid/obj
/MasterDetailGrid/bin
/BD2_demaOkien.Data/obj
/BD2_demaOkien.Data/bin

*.pdb
*.xml
/bin/BD2_demaOkien.vshost.exe
