################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BD2_demaOkien/bin
/BD2_demaOkien/obj
/MasterDetailGrid/bin
/MasterDetailGrid/obj
/BD2_demaOkien.BizzLayer/bin
/BD2_demaOkien.BizzLayer/obj
/BD2_demaOkien.Data/bin
/BD2_demaOkien.Data/obj
/BD2_demaOkien.db/bin
/BD2_demaOkien.db/obj