USE [master]
GO
/****** Object:  Database [BD_2]    Script Date: 2017-04-27 20:54:57 ******/
CREATE DATABASE [BD_2]
 CONTAINMENT = NONE
/* ON  PRIMARY 
( NAME = N'BD_2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BD_2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BD_2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )*/
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_2]
GO
USE [BD_2]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 2017-04-27 20:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Address_id] [int] IDENTITY NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Street] [varchar](50) NOT NULL,
	[House_number] [int] NOT NULL,
	[Flat_number] [int] NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Examination_dictionary]    Script Date: 2017-04-27 20:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examination_dictionary](
	[Examination_code] [varchar](30) NOT NULL,
	[Examiantion_type] [char](1) NOT NULL,
	[Examination_name] [varchar](50) NULL,
 CONSTRAINT [PK_Examintion_dictionary] PRIMARY KEY CLUSTERED 
(
	[Examination_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LAB_examination]    Script Date: 2017-04-27 20:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAB_examination](
	[LAB_examination_id] [int] IDENTITY NOT NULL,
	[LAB_examination_code] [varchar](30) NOT NULL,
	[doctor_notes] [varchar](max) NULL,
	[LAB_worker_id] [int] NULL,
	[commission_examination_date] [datetime] NOT NULL,
	[LAB_examination_result] [varchar](50) NULL,
	[LAB_examination_date] [time](7) NULL,
	[LAB_manager_id] [int] NULL,
	[LAB_manager_notes] [varchar](max) NULL,
	[ending_examination_date] [datetime] NULL,
	[status] [varchar](15) NOT NULL,
	[visit_id] [int] NOT NULL,
 CONSTRAINT [PK_LAB_examination] PRIMARY KEY CLUSTERED 
(
	[LAB_examination_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patient]    Script Date: 2017-04-27 20:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Patient_id] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [varchar](30) NOT NULL,
	[Last_name] [varchar](30) NOT NULL,
	[Phone_number] [varchar](12) NOT NULL,
	[PESEL] [varchar](11) NOT NULL,
	[address_id] [int] NOT NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[Patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Physical_examination]    Script Date: 2017-04-27 20:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Physical_examination](
	[Physical_examination_id] [int] IDENTITY NOT NULL,
	[Physical_examination_code] [varchar](30) NOT NULL,
	[Result] [varchar](50) NOT NULL,
	[visit_id] [int] NOT NULL,
 CONSTRAINT [PK_Physical_examination] PRIMARY KEY CLUSTERED 
(
	[Physical_examination_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Visit]    Script Date: 2017-04-27 20:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visit](
	[visit_id] [int] IDENTITY NOT NULL,
	[description] [varchar](max) NULL,
	[diagnosis] [varchar](50) NULL,
	[status] [varchar](15) NOT NULL,
	[registration_date] [datetime] NULL,
	[ending_date] [datetime] NULL,
	[patient_id] [int] NOT NULL,
	[doctor_id] [int] NOT NULL,
	[registerer_id] [int] NOT NULL,
 CONSTRAINT [PK_Visit] PRIMARY KEY CLUSTERED 
(
	[visit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Worker]    Script Date: 2017-04-27 20:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[Worker_id] [int] IDENTITY(1,1) NOT NULL,
	[Role] [varchar](10) NOT NULL,
	[First_name] [varchar](30) NOT NULL,
	[Last_name] [varchar](30) NOT NULL,
	[NPWZ] [int] NULL,
	[E-mail_Address] [varchar](75) NOT NULL,
	[Phone_number] [varchar](12) NOT NULL,
	[PESEL] [varchar](11) NOT NULL,
	[address_id] [int] NOT NULL,
	[Login] [varchar](30) NOT NULL,
	[Password] [varchar](30) NOT NULL
 CONSTRAINT [PK_Worker] PRIMARY KEY CLUSTERED 
(
	[Worker_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[LAB_examination]  WITH CHECK ADD  CONSTRAINT [FK_LAB_examination_Examination_dictionary] FOREIGN KEY([LAB_examination_code])
REFERENCES [dbo].[Examination_dictionary] ([Examination_code])
GO
ALTER TABLE [dbo].[LAB_examination] CHECK CONSTRAINT [FK_LAB_examination_Examination_dictionary]
GO
ALTER TABLE [dbo].[LAB_examination]  WITH CHECK ADD  CONSTRAINT [FK_LAB_examination_Visit] FOREIGN KEY([visit_id])
REFERENCES [dbo].[Visit] ([visit_id])
GO
ALTER TABLE [dbo].[LAB_examination] CHECK CONSTRAINT [FK_LAB_examination_Visit]
GO
ALTER TABLE [dbo].[LAB_examination]  WITH CHECK ADD  CONSTRAINT [FK_LAB_examination_Worker] FOREIGN KEY([LAB_worker_id])
REFERENCES [dbo].[Worker] ([Worker_id])
GO
ALTER TABLE [dbo].[LAB_examination] CHECK CONSTRAINT [FK_LAB_examination_Worker]
GO
ALTER TABLE [dbo].[LAB_examination]  WITH CHECK ADD  CONSTRAINT [FK_LAB_examination_Worker1] FOREIGN KEY([LAB_manager_id])
REFERENCES [dbo].[Worker] ([Worker_id])
GO
ALTER TABLE [dbo].[LAB_examination] CHECK CONSTRAINT [FK_LAB_examination_Worker1]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Address] FOREIGN KEY([address_id])
REFERENCES [dbo].[Address] ([Address_id])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Address]
GO
ALTER TABLE [dbo].[Physical_examination]  WITH CHECK ADD  CONSTRAINT [FK_Physical_examination_Examination_dictionary] FOREIGN KEY([Physical_examination_code])
REFERENCES [dbo].[Examination_dictionary] ([Examination_code])
GO
ALTER TABLE [dbo].[Physical_examination] CHECK CONSTRAINT [FK_Physical_examination_Examination_dictionary]
GO
ALTER TABLE [dbo].[Physical_examination]  WITH CHECK ADD  CONSTRAINT [FK_Physical_examination_Visit] FOREIGN KEY([visit_id])
REFERENCES [dbo].[Visit] ([visit_id])
GO
ALTER TABLE [dbo].[Physical_examination] CHECK CONSTRAINT [FK_Physical_examination_Visit]
GO
ALTER TABLE [dbo].[Visit]  WITH CHECK ADD  CONSTRAINT [FK_Visit_Patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patient] ([Patient_id])
GO
ALTER TABLE [dbo].[Visit] CHECK CONSTRAINT [FK_Visit_Patient]
GO
ALTER TABLE [dbo].[Visit]  WITH CHECK ADD  CONSTRAINT [FK_Visit_Worker] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[Worker] ([Worker_id])
GO
ALTER TABLE [dbo].[Visit] CHECK CONSTRAINT [FK_Visit_Worker]
GO
ALTER TABLE [dbo].[Visit]  WITH CHECK ADD  CONSTRAINT [FK_Visit_Worker1] FOREIGN KEY([registerer_id])
REFERENCES [dbo].[Worker] ([Worker_id])
GO
ALTER TABLE [dbo].[Visit] CHECK CONSTRAINT [FK_Visit_Worker1]
GO
ALTER TABLE [dbo].[Worker]  WITH CHECK ADD  CONSTRAINT [FK_Worker_Address] FOREIGN KEY([address_id])
REFERENCES [dbo].[Address] ([Address_id])
GO
ALTER TABLE [dbo].[Worker] CHECK CONSTRAINT [FK_Worker_Address]
GO
ALTER TABLE [dbo].[Visit]  WITH CHECK ADD  CONSTRAINT [CK_Visit] CHECK  (([status]='REJ' OR [status]='ANUL' OR [status]='ZAK'))
GO
ALTER TABLE [dbo].[Visit] CHECK CONSTRAINT [CK_Visit]
GO
USE [master]
GO