<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BD2_demaOkien.Properties.Settings.BD2_demaConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BD2_dema;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BD2_demaOkien.Properties.Settings.BD_2ConnectionString"
            connectionString="Data Source=(localDB)\MSSQLLocalDB;Initial Catalog=BD_2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>